{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div class="screen-1">
        <svg class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="300" height="300" viewbox="0 0 640 480" xml:space="preserve">
            <!-- Your SVG logo content here -->
        </svg>
        
        <div class="welcome-text">
            {% if user.is_authenticated %}
                <h1>Welcome, {{ user.username }}!</h1>
                <div class="dashboard-nav">
                    <a href="{% url 'RegisterCloset' %}" class="dashboard-button">
                        <ion-icon name="home-outline"></ion-icon>
                        <span>Register a Closet</span>
                    </a>
                    <a href="{% url 'RegisterClothing' %}" class="dashboard-button">
                        <ion-icon name="shirt-outline"></ion-icon>
                        <span>Add Clothing</span>
                    </a>
                    <a href="{% url 'RegisterOutfit' %}" class="dashboard-button">
                        <ion-icon name="create-outline"></ion-icon>
                        <span>Create Outfit</span>
                    </a>
                    <a href="{% url 'Fits' %}" class="dashboard-button">
                        <ion-icon name="albums-outline"></ion-icon>
                        <span>Customize my Fit</span>
                    </a>
                </div>
            {% else %}
                <h1>Welcome to Smart Home Closet</h1>
            {% endif %}
        </div>

        <div class="auth-buttons">
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="login">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="login-link">
                    <button class="login">Login</button>
                </a>
            {% endif %}
        </div>
    </div>
</body>
</html>